name: release

on:
  push:
    branches: [ "main" ]

jobs:
  pre-release:
    name: "Pre-release (Linux)"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3

      - name: "Install Ninja"
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build

      - name: "Build environment (Linux)"
        run: |
          chmod +x ./build.sh
          ./build.sh release

      - name: "List build directory contents"
        run: |
          ls -R ./release

      - name: "Upload artifacts (Linux)"
        uses: actions/upload-artifact@v2
        with:
          name: linux-artifacts
          path: ./release/zura
        
      - name: "Upload version file"
        uses: actions/upload-artifact@v2
        with:
          name: version
          path: version.txt

  combine-artifacts:
    name: "Combine Artifacts"
    runs-on: ubuntu-latest
    needs: [pre-release]

    steps:
      - name: "Download Linux artifacts"
        uses: actions/download-artifact@v2
        with:
          name: linux-artifacts
          path: ./linux-artifacts

      - name : "Download version file"
        uses: actions/download-artifact@v2
        with:
          name: version
          path: ./version

      - name: "List downloaded artifacts"
        run: |
          ls -R ./version  # Verify the downloaded artifacts
          ls -R ./linux-artifacts  # Verify the downloaded artifacts

          - name: "Read version from file"
          id: get_version
          run: |
            VERSION=$(cat ./version/version.txt)
            echo "VERSION=${VERSION}" >> $GITHUB_ENV
  
      - name: "Create GitHub Release"
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: ${{ env.VERSION }}-${{ github.run_number }}
          prerelease: true
          title: "Release ${{ env.VERSION }}"
          files: |
            ./linux-artifacts/zura
            ./version/version.txt

    